---
- name: Crear directorio de configuración Pi-hole
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/pihole
    - /var/log/pihole

- name: Copiar setupVars para instalación silenciosa
  ansible.builtin.template:
    src: setupVars.conf.j2
    dest: /etc/pihole/setupVars.conf
    mode: "0644"

- name: Instalar Pi-hole
  ansible.builtin.shell: |
    curl -sSL https://install.pi-hole.net | bash /dev/stdin --unattended
  args:
    creates: /usr/local/bin/pihole

- name: Configurar DNS local wildcard para negri.es
  ansible.builtin.copy:
    content: |
      address=/negri.es/{{ pihole_local_ip }}
    dest: /etc/dnsmasq.d/02-negri-local.conf
    mode: "0644"
  notify: Reiniciar Pi-hole

- name: Asegurar que Pi-hole esté habilitado
  ansible.builtin.service:
    name: pihole-FTL
    enabled: true
    state: started
