# Referenciado por traefik/helmrelease.yaml como ConfigMap
deployment:
  replicas: 1

ports:
  web:
    port: 8000
    exposedPort: 80
    redirectTo:
      port: websecure
  websecure:
    port: 8443
    exposedPort: 443
    tls:
      enabled: true

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: "192.168.1.7"

additionalArguments:
  - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
  - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
  - "--certificatesresolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53"
  - "--certificatesresolvers.cloudflare.acme.email=<<TU_EMAIL>>"
  - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"
  - "--log.level=INFO"
  - "--accesslog=true"
  - "--api.dashboard=true"
  - "--api.insecure=false"

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: token

persistence:
  enabled: true
  storageClass: local-path
  size: 128Mi

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["websecure"]
    matchRule: "Host(`traefik.negri.es`)"
    middlewares:
      - name: private-allowlist

rbac:
  enabled: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 256Mi
